

<div class="container">
	<h3 class="text-center">Kontakty</h3>
	<form class="form-inline text-center form-search" role="form" id='searchform'>
  
 
    <div class="form-group">
        <input type="text" class="form-control search-query" placeholder="Szukaj" id="search">
      </div>

</form>
<hr/>
	<div class="table-responsive table-contacts">
	<table class="table table-striped table-condensed ">
	<thead>
		<tr> 
			<th>Tytuł</th>
			<th>Nazwisko</th>
			<th>Instytucja</th>
			<th>Numer tel.</th>
			<th></th>
			<th></th>
		</tr>
		</thead>
		<tbody id = "contacts">
		
		</tbody>
	</table>
	</div>
</div>